<?php

return array(

    // One array per connection, pretty self-explanatory
    'connections' => array(
        // Ex: All connection info for the Freenode network
        array(
            'host' => 'irc.freenode.net',
            'port' => 6667,
            'username' => 'Elazar',
            'realname' => 'Matthew Turland',
            'nick' => 'Phergie2',
            // 'password' => 'password goes here if needed',
            // 'transport' => 'ssl', // uncomment to connect using SSL
            // 'encoding' => 'UTF8', // uncomment if using UTF8
        )
    ),
    
    'processor' => 'async',    
    'processor.options' => array('usec' => 200000),
    // Time zone. See: http://www.php.net/manual/en/timezones.php
    'timezone' => 'UTC',

    // Whitelist of plugins to load
    'plugins' => array(
        // To enable a plugin, simply add a string to this array containing 
        // the short name of the plugin as shown below. 

        // 'ShortPluginName',

        // Below is an example of enabling the AutoJoin plugin, for which 
        // the corresponding PEAR package is Phergie_Plugin_AutoJoin. This 
        // plugin allows you to set a list of channels in this configuration  
        // file that the bot will automatically join when it connects to a 
        // server. If you'd like to enable this plugin, simply install it, 
        // uncomment the line below, and set a value for the setting 
        // autojoin.channels (examples for which are located further down in 
        // this file).

        // 'AutoJoin',

        // A few other recommended plugins:

        // Servers randomly send PING events to clients to ensure that 
        // they're still connected and will eventually terminate the 
        
        // connection if a PONG response is not received. The Pong plugin 
        // handles sending these responses.

        // 'Pong', 

        // It's sometimes difficult to distinguish between a lack of 
        // activity on a server and the client not receiving data even 
        // though a connection remains open. The Ping plugin performs a self 
        // CTCP PING sporadically to ensure that its connection is still 
        // functioning and, if not, terminates the bot.

        // 'Ping',

        // Sometimes it's desirable to have the bot disconnect gracefully 
        // when issued a command to do so via a PRIVMSG event. The Quit 
        // plugin implements this using the Command plugin to intercept the 
        // command.

        // 'Quit',
    ),

    // If set to true, this allows any plugin dependencies for plugins 
    // listed in the 'plugins' option to be loaded even if they are not 
    // explicitly included in that list
    'plugins.autoload' => true,

    // Enables shell output describing bot events via Phergie_Ui_Console
    'ui.enabled' => true,

    // Examples of supported values for autojoins.channel:
    // 'autojoin.channels' => '#channel1,#channel2',
    // 'autojoin.channels' => array('#channel1', '#channel2'),
    // 'autojoin.channels' => array(
    //                            'host1' => '#channel1,#channel2',
    //                            'host2' => array('#channel3', '#channel4')
    //                        ),

    // Examples of setting values for Ping plugin settings

    // This is the amount of time in seconds that the Ping plugin will wait 
    // to receive an event from the server before it initiates a self-ping 

    // 'ping.event' => 300, // 5 minutes

    // This is the amount of time in seconds that the Ping plugin will wait 
    // following a self-ping attempt before it assumes that a response will 
    // never be received and terminates the connection

    // 'ping.ping' => 10, // 10 seconds

);
